.filter-body {
  max-height: calc(100vh - 186px);
  overflow: auto;
  .filter-element {
    max-width: 400px !important;
    width: 100%;
    height: auto !important;
    min-height: auto !important;
    max-height: auto !important;
  }
}

.filter-element > div {
  border: 0 !important;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px !important;
}
