.panel-main {
  .panel-body {
    z-index: 9999;
    right: -14px;
    position: absolute;
    margin: 15px;
    box-shadow: 3px 3px 3px 3px #a8a8a8;
    height: calc(100% - 19px);
    background-color: var(
      --spectrum-alias-background-color-default,
      var(--spectrum-global-color-default, var(--spectrum-semantic-default-color-background))
    );
  }
  .panel-minimize {
    width: 25%;
  }
  .panel-maximize {
    width: 98%;
  }
}

.share-link-panel {
  top: 35px;
}

.filter-body {
  max-height: calc(100vh - 186px);
  overflow: auto;
  .filter-element {
    max-width: 400px !important;
    width: 100%;
    height: auto !important;
    min-height: auto !important;
    max-height: auto !important;
  }
}

.filter-element > div {
  border: 0 !important;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px !important;
}
