.properties-tab,
.settings-tab {
  overflow-y: auto;
}

.properties-tabs {
  ._spectrum-TabsPanel-collapseWrapper_0248f {
    position: sticky !important;
    top: 0 !important;
    z-index: 5 !important;
    background-color: var(--spectrum-alias-background-color-default, var(--spectrum-global-color-gray-100));
  }
  .field {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    top: 3px;
  }
  .fieldKey {
    display: flex;
  }
  .fieldKey > div {
    margin-left: 5px;
  }
}
.featureName {
  ._spectrum-Button-label_7a745 {
    text-align: left;
  }
}
.query {
  color: var(--spectrum-alias-background-color-default, var(--spectrum-global-color-gray-100));
  background-color: var(--spectrum-global-color-gray-800);
}
._spectrum-Dialog-content_30293 {
  overflow: auto;
}
.date-range-picker-tab {
  width: auto !important;
}
