/* ==========================================================================
Development Ribbon
========================================================================== */
.ribbon {
  background-color: rgba(170, 0, 0, 0.5);
  left: -3.5em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  overflow: hidden;
  position: absolute;
  top: 30px;
  white-space: nowrap;
  width: 15em;
  z-index: 99999;
  pointer-events: none;
  opacity: 0.75;

  a {
    color: #fff;
    display: block;
    font-weight: 400;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
  }
}
.disableEdit {
  line-height: 0;
}
.enableEdit {
  line-height: 0;
  svg {
    fill: var(--spectrum-semantic-informative-color-icon) !important;
  }
}

.profile {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(
    --spectrum-alias-background-color-gray-75,
    var(--spectrum-global-color-gray-75, var(--spectrum-semantic-gray-75-color-background))
  );
  border-color: var(--spectrum-alias-border-color);
}

._spectrum-ActionButton--quiet_7a745._is-active_7a745 {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

@media only screen and (max-width: 1026px) {
  .bookmark-box-big-screen {
    display: none;
  }
  .canvas-header-icons-big-screen {
    display: none;
  }
}

@media only screen and (min-width: 1026px) {
  .bookmark-box-small-screen {
    display: none;
  }
  .canvas-header-icons-big-screen {
    display: block;
  }
}
