@import './variables';

html {
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

.dx26-link {
  color: $primary-color;
  text-decoration: none;
}

.error-message {
  color: $spectrum-red-600;
}

/* scroll bar css */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(
    --spectrum-alias-background-color-gray-50,
    var(--spectrum-global-color-gray-50, var(--spectrum-semantic-gray-50-color-background))
  );
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(
    --spectrum-alias-background-color-gray-500,
    var(--spectrum-global-color-gray-500, var(--spectrum-semantic-gray-500-color-background))
  );
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(
    --spectrum-alias-background-color-gray-700,
    var(--spectrum-global-color-gray-700, var(--spectrum-semantic-gray-700-color-background))
  );
}

.panel-main {
  .panel-body {
    z-index: 9999;
    right: -14px;
    position: absolute;
    margin: 15px;
    box-shadow: 3px 3px 3px 3px #a8a8a8;
    height: calc(100% - 19px);
    background-color: var(
      --spectrum-alias-background-color-default,
      var(--spectrum-global-color-default, var(--spectrum-semantic-default-color-background))
    );
  }
  .panel-minimize {
    width: 25%;
  }
  .panel-maximize {
    width: 98%;
  }
}

.share-link-panel {
  top: 35px;
}
li.dx26-list:hover {
  background-color: var(
    --spectrum-alias-background-color-gray-200,
    var(--spectrum-global-color-gray-200, var(--spectrum-semantic-gray-200-color-background))
  ) !important;
}
