html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.dx26-link {
  color: $primary-color;
  text-decoration: none;
}

.dx26-font-bold {
  font-weight: $primary-font-weight-bold !important;
  color: $primary-font-color;
}

.dx26-table-pager {
  width: '100%';
}

.dx26-container {
  padding: 20px;
}
