$primary-color: #017374;
$primary-font-weight-bold: 700;
$primary-font-color: rgb(75, 75, 75);

// Spectrum semantic colors
// Blue - informative
$spectrum-blue-400: #2680eb;
$spectrum-blue-500: #2680eb;
$spectrum-blue-600: #2680eb;
$spectrum-blue-700: #2680eb;
// Red - negative
$spectrum-red-400: #e34850;
$spectrum-red-500: #d7373f;
$spectrum-red-600: #c9252d;
$spectrum-red-700: #bb121a;
// Orange - notice
$spectrum-orange-400: #e68619;
$spectrum-orange-500: #da7b11;
$spectrum-orange-600: #cb6f10;
$spectrum-orange-700: #bd640d;
// Green - positive
$spectrum-green-400: #2d9d78;
$spectrum-green-500: #268e6c;
$spectrum-green-600: #12805c;
$spectrum-green-700: #107154;
