$primary-color: #017374;
// Spectrum semantic colors
// Blue - informative
$spectrum-blue-400: #2680eb;
$spectrum-blue-500: #1473e6;
$spectrum-blue-600: #0d66d0;
$spectrum-blue-700: #095aba;
$spectrum-static-blue-400: #378ef0;
$spectrum-static-blue-500: #2680eb;
$spectrum-static-blue-600: #1473e6;
$spectrum-static-blue-700: #0d66d0;
// Red - negative
$spectrum-red-400: #e34850;
$spectrum-red-500: #d7373f;
$spectrum-red-600: #c9252d;
$spectrum-red-700: #bb121a;
$spectrum-static-red-400: #ec5b62;
$spectrum-static-red-500: #e34850;
$spectrum-static-red-600: #d7373f;
$spectrum-static-red-700: #c9252d;
// Orange - notice
$spectrum-orange-400: #e68619;
$spectrum-orange-500: #da7b11;
$spectrum-orange-600: #cb6f10;
$spectrum-orange-700: #bd640d;
$spectrum-static-orange-400: #f29423;
$spectrum-static-orange-500: #e68619;
$spectrum-static-orange-600: #da7b11;
$spectrum-static-orange-700: #cb6f10;
// Green - positive
$spectrum-green-400: #2d9d78;
$spectrum-green-500: #268e6c;
$spectrum-green-600: #12805c;
$spectrum-green-700: #107154;
$spectrum-static-green-400: #33ab84;
$spectrum-static-green-500: #2d9d78;
$spectrum-static-green-600: #268e6c;
$spectrum-static-green-700: #12805c;
